.btn {
  color: #FFFFFF;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: rgb(84, 209, 84);
  transition: ease .5s background-color;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(84, 180, 84);
}

.btn.orange {
  background-color: #fed136;
}

.btn.orange:hover {
  background-color: #000000;
}